.about{
  padding-top: 5%;
  padding-left: 3%
  /* width: 60%;
  padding-left: 20%;
  padding-right: 20% */
}

.aboutScript img{
  width: 20%;
  padding-left: 38%;
  padding-right: 42%
}

.bioPortrait{
  display: flex;
  padding-top: 0
}

#portrait{
  width: 100%;
}

#instagram{
  width: 55%;
  padding-top: 10%
}

#linkedin{
  width: 47.7%;
  padding-top: 1%
}

.rinaPortrait{
  width: 30%
}

.rinaBio img{
  width: 100%;
  padding-top: 16.5%;
  /* padding-left: 5% */
}

.rinaBio{
  width: 60%;
  padding-left: 5%
}
