.collages{
  padding-top: 6%;
  padding-left: 29.17%;
  padding-right: 29.16%
}

.collageScript img{
  width: 62%;
  padding-left: 20.5%;
  padding-right: 17.5%;
  margin-bottom: 0
}

.collageList img{
  width: 120%
}

.collageList{
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin-top: 1%
}
