.drawings{
  padding-top: 7%;
  padding-left: 31%;
  padding-right: 31%
}

.drawScript img{
  width: 70%;
  padding-left: 17%;
  padding-right: 13%
}

 .drawList img{
  width: 100%
}

.drawList{
  list-style: none;
}

.needGap{
  padding-bottom: 0.5%
}
