.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  background-color: #FFFFFF;

}

.rinaImg img{
  display: flex;
  max-width: 42%;
  padding-left: 2%;
  padding-right: 56%
}
