@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto|Roboto+Mono&display=swap');

.paintings{

  padding-top: 7%;
  padding-left: 31%;
  padding-right: 31%
}

.paintScript img{
  width: 70%;
  padding-left: 17%;
  padding-right: 13%
}

.paintScript2{
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 17px
}

.paintScript3{
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  text-align: center;
  font-size: 17px
}

.paintScript4{
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  text-align: center;
  font-size: 17px
}




li img{
  max-height: 700px;
  width: 500px
}

li {
  width: 500px
}

.paintList{
  list-style: none;
}
