.about{
  padding-top: 5%;
  padding-left: 3%
}

.aboutScript img{
  width: 20%;
  padding-left: 38%;
  padding-right: 42%;
  /* margin-left: auto;
  margin-right: auto; */
}

.bioPortrait{
  display: flex;
  padding-top: 0
}

.rinaPortrait{
  width: 100%
}

#portrait{
  width: 30%;
}

.social{
  width: 30%
}

#instagram{
  width: 55%;
  padding-top: 8%
}

#linkedin{
  width: 47%;
  padding-top: 1%
}

#rinaBio{
  width: 60%;
  padding-bottom: 10%;
  padding-left: 5%
}

.mobileRinaBio{
  display: none
}

@media screen and (max-width: 450px) {

  .about{
    padding-top: 15%;
    padding-left: 0
  }

  .aboutScript img{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 17%;
    padding-right: 17%
  }

  .bioPortrait{
    display: flex;
    padding-top: 0
  }

  .rinaPortrait{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #portrait{
    width: 100%;
  }



  .mobileRinaBio{
    display: block;
    width: 90%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobileRinaBio img{
    width: 100%;
  }

.social{
  width: 39%;
  margin-left: auto;
  margin-right: auto;
}

  #instagram{
    width: 100%;

  }

  #linkedin{
    width: 91%;

  }

  #rinaBio{
    display: none;
  }


}
