.banners{
  padding-top: 7%;
  padding-left: 30%;
  padding-right: 30%
}

.bannersScript img{
  width: 66%;
  padding-left: 20%;
  padding-right: 16%
}

.bannerList{
  list-style: none;
}

.bannerList img {
  width: 100%
}
