
.drawings{
  padding-top: 7%;
  padding-left: 31%;
  padding-right: 31%
}

.drawScript img{
  width: 70%;
  padding-left: 15%;
  padding-right: 15%
}

 .drawList img{
  width: 86%;
  padding-left: 7%;
  padding-right: 7%
}

.drawList{
  list-style: none;
  padding-left: 0
}

.needGap{
  padding-bottom: 0.5%
}

@media screen and (max-width: 1100px) {

  .drawings{
    padding-top: 12%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0
  }

  .drawScript img{
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18%;
    padding-right: 18%
  }

   .drawList img{
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }

  .drawList{
    list-style: none;
    padding-left: 0
  }

  .needGap{
    padding-bottom: 0.5%
  }

}

@media screen and (max-width: 450px) {

  .drawings{
    padding-top: 12%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0
  }

  .drawScript img{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 17%;
    padding-right: 17%
  }

   .drawList img{
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }

  .drawList{
    list-style: none;
    padding-left: 0
  }

  .needGap{
    padding-bottom: 0.5%
  }

}
