.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  background-color: #FFFFFF;

}

.navbar img{
  width: 40%;
  padding-left: 1%;
  padding-right: 57%
}

#link {
  width: 100%
}
