@media screen and (max-width: 1440px) {

.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  background-color: #FFFFFF;

}

.navbar img{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#link {
  width: 100%
}
}

@media screen and (max-width: 375px) {

.navbar {
  position: fixed;
  z-index: 2;
  /* top: 0; */
  /* display: flex; */
  width: 100%;
  background-color: #FFFFFF;
  max-width: 375px

}

.navbar img{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%
}

}
