@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto|Roboto+Mono&display=swap');


.paintings{
  padding-top: 7%;
  padding-left: 31%;
  padding-right: 31%
}

.paintScript img{
  width: 70%;
  padding-left: 15%;
  padding-right: 15%
}

li img{
  width: 98.5%;
}

.paintList{
  list-style: none;
  padding: 0px 0px 0px 0px;
  padding-inline-start: 0px;
}



@media screen and (max-width: 450px) {

.paintings{
  padding-top: 12%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0
}

.paintScript{
  align-items: center;
}

.paintScript img{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17%;
  padding-right: 17%
}

li img{
  width: 100%;
}

.paintList{
  list-style: none;
  padding-left: 0
}

}
